{% extends "site.twig" %}

{% block content %}

    {% if goods|length > 2 %}

        <h1>Оформление заказа</h1>
        <p>
            Доставка заказов по России, странам СНГ и другим странам осуществляется курьерскими службами.<br/>
            Cамовывоз возможен только из нашего центрального офиса в С-Петербурге.
        </p>
        <p>
            Заказы отправляются по предоплате. Наложенный платеж на данный момент невозможен.
        </p>
        <p>
            Стоимость и сроки доставки Вам сообщит наш сотрудник по телефону во время согласования заказа.
        </p>
        <div id="otvet">

        </div>
        <table id="basket_list">
            <tr>
                <th colspan="2">Название</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th>Итого</th>
                <th>Удалить</th>
            </tr>
            {% for good in goods %}
                {% if good.name %}
                    <tr class="{{ good.ID }}">
                        <td><img src="{{ good.img }}" style="max-height: 90px; max-width: 90px;"></td>
                        <td><a href="/goods/{{ good.url }}">{{ good.name }}</a></td>
                        <td style="text-align: center">
                            <input value="{{ good.amount }}" style="width: 20px" name="n"/>
                        </td>
                        <td>{{ good.price }} руб</td>
                        <td id="tp">{{ good.total_price }} руб</td>
                        <td style="text-align: center"><input type="checkbox" name="c"/></td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Всего</td>
                <td id="total_count">{{ goods['count'] }} шт</td>
                <td id="total_price">{{ goods['total_price'] }} руб</td>
            </tr>
        </table>
        <button id="recheck" style="float: right">Пересчитать</button>
        <br/><br/>
        <form class="form_order">
            <div class="form_basket">
                <label for="address">Адрес:</label>
                <input id="address" name="address" type="text"/>
            </div>
            <div class="form_basket">
                <label for="delivery">Способ доставки*:</label>
                <select id="delivery" name="delivery">
                    <option value="Курьер">Курьерская доставка (рассчет оператора)</option>
                    <option value="Самовывоз">Самовывоз: C-Петербург, пл.Ал.Невского</option>
                </select>
            </div>
            <div class="form_basket">
                <label for="payment">Способ оплаты*:</label>
                <select id="payment" name="payment">
                    <option value="Банковский перевод">Банковский перевод</option>
                    <option value="Яндекс">Яндекс.Деньги</option>
                </select>
            </div>
            <div class="form_basket">
                <label for="name">Ф.И.О.*:</label>
                <input id="name" name="name" type="text"/>
            </div>
            <div class="form_basket">
                <label for="email">E-mail*:</label>
                <input id="email" name="email" type="text"/>
            </div>
            <div class="form_basket">
                <label for="phone">Телефон*:</label>
                <input id="phone" name="phone" type="text"/>
            </div>
            <div class="form_basket">
                <label for="message">Комментарий:</label>
                <textarea id="message" name="message" rows="4" cols="25"></textarea>
            </div>
            <div class="form_basket">
                <label></label>
                <input name="submit" id="addOrder" value="Отправить" type="button">
            </div>
        </form>
    {% else %}
        <h4>Корзина пуста</h4>
    {% endif %}

{% endblock %}