{% extends "site.twig" %}

{% block content %}

    <div id="rcontent">
        <div id="checkout_multistep">
            <div id="multistep_resume">
                {% set activeTab = -1 %}
                {% for key, item in tabs %}
                    <div>
                        {% if activeTab == -1 %}
                            <a {{ item.link|raw }}
                                    {% if loop.first %}style="border-left: 1px solid #dfdcdc"{% endif %}
                                    class="{% if item.is_active %}current{% endif %} multistep_section">
                                {{ item.name|raw }}
                            </a>
                        {% else %}
                            <span class="checkout_progress">{{ item.name|raw }}</span>
                        {% endif %}
                    </div>
                    {% if item.ID == ID %}{% set activeTab=key %}{% endif %}
                {% endfor %}
            </div>

            <div class="clear"></div>

            <div id="multistep_steps">
                {% block tabContent %}
                    <div class="{{ tab0 }} multistep_step span12" id="multistep_step0" data-step="0">
                        <form method="post" name="basket">
                            <table class="shop_table cart" cellspacing="0">
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Товар</th>
                                    <th class="product-price">Цена</th>
                                    <th class="product-quantity">Количество</th>
                                    <th class="product-subtotal">Сумма</th>
                                </tr>
                                {% for key, good in goods.goods %}
                                    <tr class="cart_table_item">
                                        <td class="product-remove">
                                            <a class="remove" title="Удалить" data-id="{{ key }}"
                                               onclick="deleteGood(this);return false">&times;</a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a {{ good.link|raw }}">
                                            <img width="65" height="65" src="/images/resized/65x65{{ good.img }}"
                                                 class="attachment-shop_thumbnail wp-post-image" alt="vocunson 40"/>
                                            </a>
                                        </td>

                                        <td class="product-name">
                                            <a {{ good.link|raw }}>{{ good.name }}</a>
                                            {% if good.offer %}
                                                <dl class="variation">
                                                    <dt class="variation-">{{ good.offer.name }}:</dt>
                                                    <dd class="variation-"><p>{{ good.offer.value }}</p>
                                                    </dd>
                                                </dl>
                                            {% endif %}
                                        </td>
                                        <td class="product-price">
                                        <span class="amount">
                                            {{ (good.sale_price/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                        </span>
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="number" step="1" name="goods[{{ key }}]"
                                                       data-id="{{ key }}"
                                                       value="{{ good.count }}" onchange="changeCountCart(this)"
                                                       size="4" min="1" title="Колличество"
                                                       class="input-text qty text"/>
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                        <span class="amount {{ key }}">
                                            {{ (good.total_price/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                        </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>


                        </form>

                        <div class="cart-collaterals">

                            <div class="cart_totals ">

                                <h2>Сумма в корзине</h2>

                                <table cellspacing="0">

                                    <tr class="cart-subtotal">
                                        <th>Стоимость товаров</th>
                                        <td>
                                        <span class="amount">
                                            {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                        </span>
                                        </td>
                                    </tr>


                                    <tr class="shipping">
                                        <th>Погрузка и перевозка</th>
                                        <td>Бесплатная доставка
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Сумма заказа</th>
                                        <td>
                                            <strong>
                                            <span class="amount">
                                                {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                            </span>
                                            </strong>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {{ _self.backButtom(tabs, activeTab - 1) }}
                {{ _self.nextButton(tabs, activeTab + 1) }}


            </div>
        </div>
    </div>

    <style>
        /* === MULTISTEP CHECKOUT */
        #checkout_multistep .clear {
            clear: both;
        }

        #checkout_multistep table {
            width: 100%;
        }

        #multistep_resume {
            margin-top: 42px;
        }

        #multistep_resume div {
            width: 20%;
            float: left;
        }

        #multistep_resume a, #multistep_resume span {
            border: 1px solid #dfdcdc;
            border-width: 1px 1px 1px 0;
            text-align: center;
            display: block;
            padding: 10px;
        }

        #multistep_resume span {
            background: #f9f9f9;
            color: #c8c7c7;
            cursor: default;
            position: relative;
        }

        #multistep_resume span img {
            position: absolute;
            top: 14px;
            left: 12px;
        }

        #multistep_resume a {
            color: inherit;
            outline: none
        }

        #multistep_resume a:hover {
            background: #f9f9f9;
        }

        #multistep_resume a.passed {
            background: #f9f9f9;
        }

        #multistep_resume a.current {
            background: #e6e3e3;
        }

        #multistep_resume a.user_logged_in {
            cursor: default;
            background: #f9f9f9;
            color: #c8c7c7;
        }
        {% block tabCss %}
        {% endblock %}
    </style>

    <script type="text/javascript" charset="utf-8">
        function changeCountCart(e) {
            fastChangeQuant(e);
            var $this = jQuery(e);
            var id = $this.attr('data-id');
            var basket = $.parseJSON(getCookie('basket'));
            var price = basket['goods'][id]['sale_price'] * $this.val();
            $('.amount.' + id).text((parseInt(price)).format(2, 3, ',', '.') + ' руб.');
            var total = 0;
            $('.qty').each(function (index, elem) {
                total += (basket['goods'][$(elem).attr('data-id')]['sale_price'] * $(elem).val());
            });
            $('.cart_totals .amount').text((parseInt(total)).format(2, 3, ',', '.') + ' руб.');
        }
        function deleteGood(e) {
            fastDelGood(e);
            var $this = jQuery(e);
            var id = $this.attr('data-id');
            var basket = $.parseJSON(getCookie('basket'));
            delete basket.goods[id];
            var total = 0;
            $('.qty').each(function (index, elem) {
                if ($(elem).attr('data-id') != id) {
                    total += (basket['goods'][$(elem).attr('data-id')]['sale_price'] * $(elem).val());
                }
            });
            $('.cart_totals .amount').text((parseInt(total)).format(2, 3, ',', '.') + ' руб.');
        }
        function update() {
            var $ = jQuery;
            var result = false;
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: $('[name=checkout]').serialize(),
                async: false,
                url: '/?mode=ajax&controller=Shop\\Structure\\Order\\Site&action=setUser',
                success: function (data) {
                    if (data.error) {
                        alert(data.text);
                    } else {
                        deleteCookie('user');
                        setCookie('user', JSON.stringify(data.user, null, 2));
                        result = !data.error;
                    }
                }
            });
            return result;
        }

        {% block tabJs %}
        {% endblock %}

        function otherMod(modName, structure, url) {
            url = url||false;
            var $ = jQuery;
            var result = false;
            $.ajax({
                type: 'POST',
                data: $('#multistep_steps form').serialize(),
                dataType: 'json',
                async: false,
                url: '/?mode=ajax&controller=' + modName + '\\Structure\\' + structure + '\\Site&action=basket',
                success: function (data) {
                    if (data.text.length > 0) {
                        alert(data.text);
                    }
                    if (data.error) {
                        result = false;
                    } else {
                        if (data.js.length > 0) {
                            eval(data.js);
                        }
                        if (url != false) {
                            window.location.href = url.replace(/href="(.*)"/i, '$1');
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}

{% macro backButtom(tabs, activeTab) %}
    {% if tabs[activeTab] %}
        <a {{ tabs[activeTab]['link']|raw }}>
            <input type="button" class="button prev" value="&larr; {{ tabs[activeTab]['name'] }}"/>
        </a>
    {% endif %}
{% endmacro %}

{% macro nextButton(tabs, activeTab) %}
    {% if tabs[activeTab - 1]['module']['ID'] %}
        {% if tabs[activeTab] %}
            {% set link = tabs[activeTab]['link'] %}
            {% set rarr = ' &rarr;' %}
        {% else %}
            {% set link = tabs[activeTab - 1]['module']['link'] %}
            {% set rarr = '' %}
        {% endif %}
        {% set structure = tabs[activeTab - 1]['module']['structure'] %}
        {% set modName = tabs[activeTab - 1]['module']['modName'] %}
        {% set name = tabs[activeTab - 1]['module']['name'] %}
        <a>
            <input type="button" class="buttom next"
                   value="{{ name }}{{ rarr|raw }}"
                   onclick="otherMod('{{ modName }}', '{{ structure }}', '{{ link }}')" />
        </a>
    {% else %}
        {% if tabs[activeTab] %}
            <a {{ tabs[activeTab]['link']|raw }}>
                <input type="button" class="button next" value="{{ tabs[activeTab]['name'] }} &rarr;"/>
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}
