{% extends "site.twig" %}

{% block content %}

    <div id="rcontent">
        <div id="checkout_multistep">
            {% set elems = {'0':'<img src="/i/header-cart-checkout.png" alt="Процесс оформления"/> Процесс оформления',
            '1':'Авторизация', '2':'Адрес проживания' , '3':'Способ оплаты', '4':'Просмотр заказа' } %}

            <div id="multistep_resume">
                {% for key, item in elems %}
                    <div>
                        {% if key > tab %}
                            <span class="checkout_progress">{{ item|raw }}</span>
                        {% else %}
                            <a href="#" data-step="{{ key }}"
                               {% if loop.first %}style="border-left: 1px solid #dfdcdc"{% endif %}
                               class="{% if tab == key %}current{% endif %} multistep_section">
                                {{ item|raw }}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="clear"></div>

            <div id="multistep_steps">

                <!-- step 0 -->
                <div class="{{ tab0 }} multistep_step span12" id="multistep_step0" data-step="0">
                    <form method="post" name="basket">
                        <table class="shop_table cart" cellspacing="0">
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Товар</th>
                                <th class="product-price">Цена</th>
                                <th class="product-quantity">Количество</th>
                                <th class="product-subtotal">Сумма</th>
                            </tr>
                            {% for key, good in goods.goods %}
                                <tr class="cart_table_item">
                                    <td class="product-remove">
                                        <a href="#" class="remove" title="Удалить" data-id="{{ key }}"
                                           onclick="fastDelGood(this);return false">&times;</a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="{{ good.url }}">
                                            <img width="65" height="65" src="/images/resized/65x65{{ good.img }}"
                                                 class="attachment-shop_thumbnail wp-post-image" alt="vocunson 40"/>
                                        </a>
                                    </td>

                                    <td class="product-name">
                                        <a href="{{ good.url }}">{{ good.name }}</a>
                                        {% if good.offer %}
                                            <dl class="variation">
                                                <dt class="variation-">{{ good.offer.name }}:</dt>
                                                <dd class="variation-"><p>{{ good.offer.value }}</p>
                                                </dd>
                                            </dl>
                                        {% endif %}
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">
                                            {{ (good.sale_price/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                        </span>
                                    </td>

                                    <td class="product-quantity">
                                        <div class="quantity">
                                            <input type="number" step="1" name="goods[{{ key }}]" data-id="{{ key }}"
                                                   value="{{ good.count }}" onchange="changeCountCart(this)"
                                                   size="4" min="1" title="Колличество" class="input-text qty text"/>
                                        </div>
                                    </td>

                                    <td class="product-subtotal">
                                        <span class="amount {{ key }}">
                                            {{ (good.total_price/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="actions">
                                    <a href="#?tab=1" class="nextstep">
                                        <input type="button" class="checkout-button button alt" name="proceed"
                                               value="Оформление заказа &rarr;"/>
                                    </a>
                                </td>
                            </tr>
                        </table>


                    </form>

                    <div class="cart-collaterals">

                        <div class="cart_totals ">

                            <h2>Сумма в корзине</h2>

                            <table cellspacing="0">

                                <tr class="cart-subtotal">
                                    <th>Стоимость товаров</th>
                                    <td>
                                        <span class="amount">
                                            {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                        </span>
                                    </td>
                                </tr>


                                <tr class="shipping">
                                    <th>Погрузка и перевозка</th>
                                    <td>Бесплатная доставка
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Сумма заказа</th>
                                    <td>
                                        <strong>
                                            <span class="amount">
                                                {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                            </span>
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                {% if tab > 0 %}
                    <!-- step 1 -->
                    <div class="{{ tab1 }} multistep_step span12 user_not_logged_in" id="multistep_step1" data-step="1">
                        <div class="box_style">
                            <div class="row">
                                <div class="step1_login_form span6">
                                    <h3>Авторизация</h3>

                                    <form method="post" class="login_checkout">
                                        <p class="form-row form-row-first">
                                            <label for="username">Имя пользователя или e-mail
                                                <span class="required">*</span>
                                            </label>
                                            <input type="text" class="input-text" name="username" id="username"/>
                                        </p>

                                        <p class="form-row form-row-last">
                                            <label for="password">Пароль <span class="required">*</span></label>
                                            <input class="input-text" type="password" name="password" id="password"/>
                                        </p>

                                        <div class="clear"></div>

                                        <p class="form-row">
                                            <input type="submit" class="button" name="login" value="Авторизация"/>
                                            <a class="lost_password" href="/">
                                                Забыли пароль?
                                            </a>
                                        </p>
                                    </form>
                                </div>

                                <div class="step1_create_account span6">

                                    <h3><span>Впервые на ABIR?</span> Зарегистрируйтесь!</h3>

                                    <form method="post" class="register">
                                        <p class="form-row form-row-first">
                                            <label for="reg_username">Имя пользователя
                                                <span class="required">*</span></label>
                                            <input type="text" class="input-text" name="username" id="reg_username"
                                                   value=""/>
                                        </p>

                                        <p class="form-row form-row-last">
                                            <label for="reg_email">Email <span class="required">*</span></label>
                                            <input type="email" class="input-text" name="email" id="reg_email"
                                                   value=""/>
                                        </p>

                                        <div class="clear"></div>

                                        <p class="form-row form-row-first">
                                            <label for="reg_password">Пароль <span class="required">*</span></label>
                                            <input type="password" class="input-text" name="password"
                                                   id="reg_password" value=""/>
                                        </p>

                                        <p class="form-row form-row-last">
                                            <label for="reg_password2">Повторный ввод пароля <span
                                                        class="required">*</span>
                                            </label>
                                            <input type="password" class="input-text" name="password2"
                                                   id="reg_password2"
                                                   value=""/>
                                        </p>

                                        <div class="clear"></div>

                                        <p class="form-row">
                                            <input type="submit" class="button" name="register" value="Регистрация"/>
                                        </p>

                                    </form>
                                </div>
                                <a href="?tab=2" class="nextstep">
                                    <input type="button" class="button next" name="next[]"
                                           value="Оформить без регистрации" data-next="2"/>
                                </a>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                {% endif %}

                <form name="checkout" method="post" class="checkout">
                    {% if tab > 1 %}
                        <!-- step 2 -->
                        <div class="{{ tab2 }} multistep_step span12" id="multistep_step2" data-step="2">
                            <div class="box_style">
                                <h3>Адрес проживания</h3>

                                <p class="form-row form-row-first validate-required" id="billing_first_name_field">
                                    <label for="billing_first_name" class="">Имя
                                        <abbr class="required" title="обязательно">*</abbr>
                                    </label>
                                    <input type="text" class="input-text" name="billing_first_name_required"
                                           id="billing_first_name" placeholder=""
                                           value="{{ billing_first_name_required }}"/>
                                </p>

                                <p class="form-row form-row-last validate-required" id="billing_last_name_field">
                                    <label for="billing_last_name" class="">Фамилия
                                        <abbr class="required" title="обязательно">*</abbr></label>
                                    <input type="text" class="input-text" name="billing_last_name_required"
                                           id="billing_last_name" placeholder=""
                                           value="{{ billing_last_name_required }}"/>
                                </p>

                                <div class="clear"></div>

                                <p class="form-row form-row-first address-field validate-required"
                                   id="billing_address_1_field">
                                    <label for="billing_address_1" class="">Адрес
                                        <abbr class="required" title="обязательно">*</abbr></label>
                                    <input type="text" class="input-text" name="billing_address_required"
                                           id="billing_address_1" placeholder="Адрес"
                                           value="{{ billing_address_required }}"/>
                                </p>

                                <p class="form-row form-row-first validate-required" id="billing_email_field">
                                    <label for="billing_email" class="">Email-адрес
                                        <abbr class="required" title="обязательно">*</abbr></label>
                                    <input type="text" class="input-text " name="billing_email_required"
                                           id="billing_email" placeholder="" value="{{ billing_email_required }}"/></p>

                                <p class="form-row form-row-last" id="billing_phone_field">
                                    <label for="billing_phone" class="">Телефон</label>
                                    <input type="text" class="input-text " name="billing_phone" id="billing_phone"
                                           placeholder="" value=""/></p>

                                <div class="clear"></div>

                                <input type="submit" class="button prev" name="login"
                                       value="&larr; Имя пользователя" data-next="1"/>

                                <a href="?tab=3" class="nextstep">
                                    <input type="button" class="button next" name="login" value="Способ оплаты &rarr;"
                                           data-next="3" data-alternativelabel="Способ оплаты &rarr;"/>
                                </a>

                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endif %}

                    {% if tab > 2 %}
                        <!-- step 3 -->
                        <div class="{{ tab3 }} multistep_step span12" id="multistep_step3" data-step="4">
                            <div class="box_style">


                                <h3>Способ оплаты</h3>

                                <div class="clear"></div>

                                <div id="payment">
                                    <ul class="payment_methods methods">
                                        <!--<li>
                                            <input type="radio" id="payment_method_bacs" class="input-radio"
                                                   name="payment_method" value="bacs"/>
                                            <label for="payment_method_bacs">Прямой банковский перевод </label>

                                            <div class="payment_box payment_method_bacs" style="display:none;"><p>
                                                    Произведите платеж непосредственно на наш банковский счет.
                                                    Пожалуйста, указывайте номер вашего заказа в описании перевода.
                                                    Ваш заказ будет отправлен, когда деньги поступят на наш
                                                    счет.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <input type="radio" id="payment_method_cheque" class="input-radio"
                                                   name="payment_method" value="cheque"/>
                                            <label for="payment_method_cheque">Оплата чеками </label>

                                            <div class="payment_box payment_method_cheque" style="display:none;"><p>
                                                    Пожалуйста отправьте ваш чек, указав данные магазина: название,
                                                    улицу, город, страну/штат, почтовый индекс.</p>
                                            </div>
                                        </li>-->
                                        <li>
                                            <input type="radio" id="payment_method_cod" class="input-radio"
                                                   name="payment_method" value="cod" checked='checked'/>
                                            <label for="payment_method_cod">Наличными </label>

                                            <div class="payment_box payment_method_cod"><p>Оплата наличными при
                                                    доставке.</p>
                                            </div>
                                        </li>
                                        <!--<li>
                                            <input type="radio" id="payment_method_paypal" class="input-radio"
                                                   name="payment_method" value="paypal"/>
                                            <label for="payment_method_paypal">PayPal
                                                <img src="/i/paypal.png" alt="PayPal"/>
                                            </label>

                                            <div class="payment_box payment_method_paypal" style="display:none;"><p>
                                                    Заплатить через PayPal; вы можете заплатить пластиковой картой
                                                    если у вас нет PayPal аккаунта</p>
                                            </div>
                                        </li>-->
                                    </ul>


                                    <div class="clear"></div>

                                </div>
                                <input type="submit" class="button prev" name="login" value="&larr; Способ доставки"
                                       data-next="3" data-alternativelabel="&larr; Адрес проживания"/>
                                <a href="?tab=4" class="nextstep">
                                    <input type="button" class="button next" name="login" value="Просмотр заказа &rarr;"
                                           data-next="4"/>
                                </a>

                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endif %}

                    {% if tab > 3 %}
                        <!-- step 4 -->
                        <div class="{{ tab4 }} multistep_step span12" id="multistep_step4" data-step="5">
                            <div class="box_style">

                                <h3 id="order_review_heading">Ваш заказ</h3>

                                <div id="order_review">

                                    <table class="shop_table">
                                        <tr>
                                            <th class="product-name">Товар</th>
                                            <th class="product-quantity">Кол-во</th>
                                            <th class="product-total">Сумма</th>
                                        </tr>

                                        {% for good in goods.goods %}
                                            <tr class="checkout_table_item">
                                                <td class="product-name">
                                                    {{ good.name }} {% if good.offer %}
                                                        <dl class="variation">
                                                            <dt class="variation-">{{ good.offer.name }}:</dt>
                                                            <dd class="variation-"><p>{{ good.offer.value }}</p>
                                                            </dd>
                                                        </dl>
                                                    {% endif %}
                                                </td>
                                                <td class="product-quantity">{{ good.count }}</td>
                                                <td class="product-total">
                                                <span class="amount">
                                                    {{ (good.total_price/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                                </span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr class="cart-subtotal">
                                            <th colspan="2">Итог</th>
                                            <td><span class="amount">
                                                {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                            </span>
                                            </td>
                                        </tr>


                                        <tr class="shipping">
                                            <th>Погрузка и перевозка</th>
                                            <td> Бесплатная доставка</td>
                                        </tr>
                                        <tr class="total">
                                            <th colspan="2">Сумма</th>
                                            <td>
                                                <strong>
                                                <span class="amount">
                                                    {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                                                </span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </table>

                                    <h3>Дополнительная информация</h3>

                                    <p class="form-row notes" id="order_comments_field">
                                        <label for="order_comments" class="">
                                            Заметки к заказу
                                        </label>
                                    <textarea name="order_comments" class="input-text" id="order_comments"
                                              placeholder="Примечания к вашему заказу, например, особые пожелания отделу доставки."
                                              rows="2" cols="5"></textarea>
                                    </p>

                                    <div class="form-row place-order">

                                        <noscript>Since your browser does not support JavaScript, or it is disabled,
                                            please ensure you click the <em>Update Totals</em> button before placing
                                            your order. You may be charged more than the amount stated above if you
                                            fail to do so.<br/>
                                            <input type="submit" class="button alt" value="Пересчитать"/>
                                        </noscript>

                                        <input type="submit" class="button prev" name="login"
                                               value="&larr; Способ оплаты" data-next="4"/>

                                        <input type="button" class="button alt" onclick="return order()"
                                               name="woocommerce_checkout_place_order" id="place_order"
                                               value="Оформить заказ" data-value="Оформить заказ"/>
                                    </div>

                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>

    <style>
        /* === MULTISTEP CHECKOUT */
        #checkout_multistep .clear {
            clear: both;
        }
        #checkout_multistep table {
            width: 100%;
        }
        #multistep_resume {
            margin-top: 42px;
            margin-bottom: 42px;
        }

        #multistep_resume div {
            width: 20%;
            float: left;
        }

        #multistep_resume a, #multistep_resume span {
            border: 1px solid #dfdcdc;
            border-width: 1px 1px 1px 0;
            text-align: center;
            display: block;
            padding: 10px;
        }

        #multistep_resume span {
            background: #f9f9f9;
            color: #c8c7c7;
            cursor: default;
            position: relative;
        }

        #multistep_resume span img {
            position: absolute;
            top: 14px;
            left: 12px;
        }

        #multistep_resume a {
            color: inherit;
            outline: none
        }

        #multistep_resume a:hover {
            background: #f9f9f9;
        }

        #multistep_resume a.passed {
            background: #f9f9f9;
        }

        #multistep_resume a.current {
            background: #e6e3e3;
        }

        #multistep_resume a.user_logged_in {
            cursor: default;
            background: #f9f9f9;
            color: #c8c7c7;
        }

    </style>

    <script type="text/javascript" charset="utf-8">
        function changeCountCart(e) {
            fastChangeQuant(e);
            var $this = jQuery(e);
            var id = $this.attr('data-id');
            var basket = $.parseJSON(getCookie('basket'));
            var price = basket['goods'][id]['sale_price'] * $this.val();
            $('.amount.' + id).text((parseInt(price)).format(2, 3, ',', '.') + ' руб.');
            var total = 0;
            $('.qty').each(function (index, elem) {
                total += (basket['goods'][$(elem).attr('data-id')]['sale_price'] * $(elem).val());
            });
            $('.cart_totals .amount').text((parseInt(total)).format(2, 3, ',', '.') + ' руб.');
        }
        function update() {
            var $ = jQuery;
            var result = false;
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: $('[name=checkout]').serialize(),
                async: false,
                url: '/?mode=ajax&controller=Shop\\Structure\\Order\\Site&action=setUser',
                success: function (data) {
                    if (data.error) {
                        alert(data.text);
                    } else {
                        deleteCookie('user');
                        setCookie('user', JSON.stringify(data.user, null, 2));
                        result = !data.error;
                    }
                }
            });
            return result;
        }

        function order() {
            var $ = jQuery;
            var result = false;
            $.ajax({
                type: 'POST',
                data: $('[name=checkout]').serialize(),
                dataType: 'json',
                async: false,
                url: '/?mode=ajax&controller=Shop\\Structure\\Order\\Site&action=order',
                success: function (data) {
                    alert(data.text);
                    if (data.error) {

                    } else {
                        deleteCookie('basket');
                        deleteCookie('user');
                        location.reload();
                    }
                    result = !data.error;
                }
            });
            return result;
        }
        jQuery(document).ready(function () {

            var $ = jQuery;

            $('.nextstep').click(function () {
                return update();
            });

            var $bar = $('.bar');

            $('.multistep_section').click(function () {
                var $this = $(this);
                var $parent = $this.parents('#multistep_resume');
                var $current = $parent.find('.current');
                $current.removeClass('current');
                $('#multistep_step' + $current.attr('data-step')).hide();
                $this.addClass('current');
                $('#multistep_step' + $this.attr('data-step')).show();

                var proPerElem = 100 / $parent.find('div').length;
                var procent = proPerElem * $this.parent().prevAll().length + '%';
                $bar.css('width', procent);
                return false;
            });
        });
    </script>
{% endblock %}
