{% extends "site.twig" %}

{% block content %}
<div id="container">
    <div class="block">
        <div class="holder">
            <div id="content">

    <h1>{{ header }}</h1>

    <div id="addNewPost" class="addNewPost" onclick="addPost('0', '0', '0')"><span> Добавить новую тему </span></div>
    {%if posts|length > 0 %}
        {% if Authorized == true %}
            <script> loadForm.isAuthorized = true; </script>
        {% endif %}
    {% for post in posts %}
        <div class="post-annonce">
            <strong>
                <a href="{{ post.link|raw }}">{{ post.firstText|raw }}</a>
            </strong>
                    {{post.secondText}}
                {% if post.answer_count != 0 %}
                    <span title="Количество ответов">({{ post.answer_count }})</span>
                {% endif %}
            <div class="post-info">
                {{ post.author }}&nbsp;&nbsp;&nbsp;<span class="post-date">{{ post.date_create }}</span>
                {% if ((Authorized == true) and (post.is_moderated == "0")) %}
                    <span class="post-no-moderated">&nbsp;&nbsp;&nbsp;Не прошло модерацию</span>
                {% endif %}
            </div>
            <div class="news-line"></div>
        </div>
    {% endfor %}
    {% endif %}

    <p>&nbsp;</p>

    {%if pager.pages|length > 0 %}
        <div class="pagination pagination-left">
            <ul>
                {% for page in pager.pages %}
                    {% if page.current == 1 %}
                        <li class="active"><a>{{ page.num }}</a></li>
                    {% else %}
                        <li><a href="{{ page.url }}">{{ page.num }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

                {# Выводим контент первого аддона #}
                {{ addons.0.content|raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}