{% extends "site.twig" %}

{% block content %}
    <img src="/images/1.gif" alt="" style="height: 50px; width: 400px; float:right">

    <h1 style="font-size: 18px; color: #545a4a">{{ good.name }}</h1>

    {{ template.content|raw }}

    <div style="display: block; padding: 30px;">
        <div id="left" style="width: 500px; float: left">
            <form id="basket">
                <input type="hidden" name="ID" value="{{ good.ID }}">
                {% if good.alt_price > 0 %}
                    <input type="hidden" name="price" value="{{ good.alt_price }}">
                {% else %}
                    <input type="hidden" name="price" value="{{ good.price }}">
                {% endif %}
            </form>
            <img src="{{ good.img }}"/><br/>
            {% if good.alt_price > 0 %}
                <span style="font-size: 24px; color: red; text-decoration: line-through;">{{ good.price }} руб </span>
                &nbsp;&nbsp;&nbsp;
                <span style="font-size: 24px;">{{ good.alt_price }}</span> руб
            {% else %}
                <span style="font-size: 24px;">{{ good.price }}</span> руб
            {% endif %}
            <button class="shk-but" type="submit">
                В корзину
            </button><br>
            {% if Basket[good.ID] %}
            <span id="countBasket" style="font-size: 12px;">
            {% else %}
            <span class="hide" id="countBasket" style="font-size: 12px;">
            {% endif %}
                Количество в корзине:
                <span id="count" style="font-size: 12px;">
                    {{ Basket[good.ID]['amount'] ? Basket[good.ID]['amount'] : 0 }}
                </span>
            </span>
        </div>
        {{ good.annot }}<br/><br/>
        {{ good.content|raw }}
    </div>

{% endblock %}