{% extends "site.twig" %}

{% block content %}

    <div class="card">
        <h1>{{ good.name }}</h1>

        <div class="img_prew">
            <div class="img_prew_inside">
                <div class="img"><a href="#"><img src="/images/1c/big/{{ good.img }}" alt=""></a></div>
                <div class="prew">
                    <div class="price">{{ good.price }} руб.</div>
                    <h3>Технические характеристики</h3>
                    <ul class="param">
                        <li><b>Артикул:</b> {{ good.article }}</li>
                        <li><b>Тип:</b> {{ good.type }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}