{% extends "site.twig" %}

{% block content %}
    <div class="catalog">
        <h1>{{ header }}</h1>


        {% if pager.parts|length > 0 %}
            <ul>
                {% for part in pager.parts %}
                    <li><a href="{{ part.link }}">{{ part.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Каталог</div>
                    {{ _self.echoListCat(listCat) }}
                </div>
            </div>
            <div class="col-md-9">

                {% if goods|length > 0 %}
                    <div class="goods row">
                        {% for good in goods %}
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{{ good.link }}" class="thumbnail">
                                        <img src="{{ good.img }}" alt="{{ good.name }}">
                                    </a>

                                    <div class="caption">
                                        <h3 style="overflow: hidden; white-space: nowrap">{{ good.name }}</h3>

                                        <p>{{ good.price }} {{ good.currency }}</p>

                                        <p>
                                            <a href="#" class="btn btn-primary" role="button">Заказать</a>
                                            <a href="{{ good.link }}" class="btn btn-default"
                                               role="button">Подробнее</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}
                {% if pager.pages|length > 1 %}
                    <div>
                        <ul class="pagination">
                            {% for page in pager.pages %}
                                {% if page.current == 1 %}
                                    <li class="active"><a>{{ page.num }}</a></li>
                                {% else %}
                                    <li><a href="{{ page.url|raw }}">{{ page.num }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div style="margin-bottom: 60px;"></div>

        {# Выводим контент первого аддона #}
        {{ addons.0.content|raw }}
    </div>


{% endblock %}


{% macro echoListCat(categorys, recur) %}

    {% for cat in categorys %}
        {% if loop.first %}
            <div{% if recur == ' ' %} style="margin-left: 10px"{% endif %}>
        {% endif %}

        <p class="list-group-item">
            <a {{ cat.cat.link|raw }}>{{ cat.cat.name }}</a>
            {% if cat.subcat|length > 0 %}
                {{ _self.echoListCat(cat.subcat, ' ') }}
            {% endif %}
        </p>
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}


