{% extends "site.twig" %}

{% block content %}
    <div class="catalog">
        <h1>{{ header }}</h1>


        {% if pager.parts|length > 0 %}
            <ul>
                {% for part in pager.parts %}
                    <li><a href="{{ part.link }}">{{ part.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Каталог</div>
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">

                {% if goods|length > 0 %}
                    <div class="goods row">
                        {% for good in goods %}
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{{ good.link }}" class="thumbnail">
                                        <img src="{{ good.img }}" alt="{{ good.name }}">
                                    </a>

                                    <div class="caption">
                                        <h3 style="overflow: hidden; white-space: nowrap">{{ good.name }}</h3>

                                        <p>{{ good.price }} {{ good.currency }}</p>

                                        <p>
                                            <a href="#" class="btn btn-primary" role="button">Заказать</a>
                                            <a href="{{ good.link }}" class="btn btn-default"
                                               role="button">Подробнее</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}
                {% if pager.pages|length > 1 %}
                    <div>
                        <ul class="pagination">
                            {% for page in pager.pages %}
                                {% if page.current == 1 %}
                                    <li class="active"><a>{{ page.num }}</a></li>
                                {% else %}
                                    <li><a href="{{ page.url|raw }}">{{ page.num }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div style="margin-bottom: 60px;"></div>

        {# Выводим контент первого аддона #}
        {{ addons.0.content|raw }}
    </div>


{% endblock %}

{% macro outputList(list) %}
    <li {% if list.isActivePage %} class="active" {% endif %}><a {{ list.link|raw }}>{{ list.name }}</a>
        {% if list.isActivePage %}
            {% if list.subCategoryList|length > 0 %}
                <ul>
                    {% for list in list.subCategoryList %}
                        {{ _self.outputList(list) }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </li>
{% endmacro %}

{% block slider %}
    {% import _self as tools %}
    <div class="sidebar">
        <ul>
            {% for item in listCat %}
                <li {% if item.isActivePage %} class="active" {% endif %}><a {{ item.link|raw }}>{{ item.name }}</a>
                    {% if item.isActivePage %}
                        <ul class="menu">
                            {% for subItem in item.subCategoryList %}
                                {{ tools.outputList(subItem) }}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


