<script type="text/javascript"
        src="/?mode=ajax&controller=\Cabinet\Structure\Part\Site&action=save&subMode=js"></script>
<link media="all" rel="stylesheet" type="text/css" href="/?mode=ajax&controller=\Cabinet\Structure\Part\Site&action=save&subMode=css"/>
{{ start | raw }}
<table>
    <tr>
        <td>Ваше имя:</td>
        <td><input type="text" value="{{ user.fio }}" name="fname"></td>
    </tr>
    <tr>
        <td>Телефон:</td>
        <td><input type="text" value="{{ user.phone }}" name="phone"></td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td><textarea name="addr">{{ user.address }}</textarea></td>
    </tr>
    <tr>
        <td><br>Email при регистрации (login)</td>
        <td><br>{{ user.email }}</td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <br>
            <hr>
        </td>
    </tr>
    <tr>
        <td>Новый пароль</td>
        <td><input type="password" value="" name="pass"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Оставьте поле пустым, что бы не менять пароль
        </td>
    </tr>
    <tr>
        <td colspan="2"><br><br><br>
            <input type="submit" value="СОХРАНИТЬ">
        </td>
    </tr>
</table>
</form>