{% extends "site.twig" %}

{% block content %}
    <h1>{{ header }}</h1>

    <div class="art">
        <div class="clear"></div>
        <div class="pagination">
            <ul>
            {% for category in categories %}
                <li class="{{ category.class }}"><a {{ category.link|raw }}>{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
        <div class="articles">
            {% if parts|length > 0 %}
                {% for good in parts %}
                    <div class="name">
                        <a {{ good.link|raw }}>{{ good.name }}</a>
                    </div>
                    <div class="annot">{{ good.annot }}</div>
                {% endfor %}
            {% endif %}

        </div>
        {% if pager.pages|length > 0 %}
            <div class="pagination pagination-left">
                <ul>
                    {% for page in pager.pages %}
                        {% if page.current == 1 %}
                            <li class="active"><a>{{ page.num }}</a></li>
                        {% else %}
                            <li><a href="{{ page.url }}">{{ page.num }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div style="clear: left;">
            {# Сначала выводим все аддоны типа "Текст" #}
            {% for value in page %}
                {{ value.content|raw }}
            {% endfor %}

            {# Затем выводим все аддоны типа "PHP-файл" #}
            {% for value in phpfile %}
                {{ value.content|raw }}
            {% endfor %}

            {# Затем выводим все аддоны типа "Карта сайта" #}
            {% for value in sitemap %}
                {{ value.content|raw }}
            {% endfor %}
        </div>

    </div>

{% endblock %}