{% extends "site.twig" %}

{% block content %}
    <h1>{{ header|raw }}</h1>
    <div id="user" class="former">
        <span class="error"></span>

        {#  #}
        {% if step == 'login' %}
            <div id="login">
                <form method="POST" id="flogin" class="form">
                    <table>
                        <tr>
                            <td width="100px">Login (email)</td>
                            <td><input class="required" type="text" value="" name="login"></td>
                        </tr>
                        <tr>
                            <td width="100px">Пароль</td>
                            <td><input class="required" type="password" value="" name="pass"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><br><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="submit" onclick="sendForm(this,'Cabinet','User','login');return false;"
                                        type="button">ВОЙТИ
                                </button>
                                <br/><br/>
                                <a class="submit" href="?action=rec">ВОССТАНОВИТЬ ПАРОЛЬ</a>
                                <a class="submit" href="?action=reg">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
        {# Востановление пароля #}
        {% if step == 'rec' %}
            Для восстановления доступа, введите email с которым вы регистрировались на сайте.
            <br><br>
            <div id="formzakaz">
                <form method="POST" id="flogin" class="form">
                    <br>
                    <table>
                        <tr>
                            <td width="100">Login (email)</td>
                            <td><input type="text" value="" name="login"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><br><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="submit" onclick="sendForm(this,'Cabinet','User','recover');return false;"
                                        type="button">ВОССТАНОВИТЬ
                                </button>
                            </td>


                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
        {# Регистрация нового пользователя #}
        {% if step == 'reg' %}
            <h2>Регистрация нового пользователя</h2>
            Правильно заполните все поля формы и нажмите кнопку отправить.<br>
            Будьте внимательны, при написнии адреса электронной почты,<br>
            на этот адрес Вам будет выслано письмо с подтверждением регистрации.
            <br>
            <br>
            <br>

            <div id="formzakaz">
                <form method="POST" id="freg" class="form">
                    <table>
                        <tr>
                            <td>Фамилия:</td>
                            <td><input type="text" value="" name="name"></td>
                        </tr>
                        <tr>
                            <td>Имя:</td>
                            <td><input type="text" value="" name="lastname"></td>
                        </tr>
                        <tr>
                            <td>Телефон:</td>
                            <td><input type="text" value="" name="phone"></td>
                        </tr>
                        <tr>
                            <td>Адрес:</td>
                            <td><textarea name="addr"></textarea></td>
                        </tr>
                        <tr>
                            <td>E-mail:</td>
                            <td><input class="required" type="text" value="" name="email"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><br></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/images/captcha.jpg" onclick="getCaptcha(this)"
                                     title="нажмите что бы обновить" style="cursor: pointer">
                            </td>
                            <td>
                                <input style="textalign:center;width:100px;" type="text" name="int" size="6">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <center>Введите защитный код с картинки</center>
                                <br><br>
                                <br><br>
                                <button class="submit"
                                        onclick="sendForm(this,'Cabinet','User','registration');return false;"
                                        type="button">ЗАРЕГИСТРИРОВАТЬСЯ
                                </button>
                                <br>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
        {#  #}
        {% if step == 'finishReg' %}
            Done!
        {% endif %}
        {#  #}
        {% if step == 'lk' %}
            <p class="logout"><a href="?action=logout">Выйти</a></p>

            <div id="formzakaz">
                <form method="POST" id="fchange" class="form">
                    <table>
                        <tr>
                            <td>Ваше имя:</td>
                            <td><input type="text" value="{{ user.fio }}" name="fname"></td>
                        </tr>
                        <tr>
                            <td>Телефон:</td>
                            <td><input type="text" value="{{ user.phone }}" name="phone"></td>
                        </tr>
                        <tr>
                            <td>Адрес</td>
                            <td><textarea name="addr">{{ user.address }}</textarea></td>
                        </tr>
                        <tr>
                            <td><br>Email при регистрации (login)</td>
                            <td><br>{{ user.email }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <br>
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td>Новый пароль</td>
                            <td><input type="password" value="" name="pass"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                Оставьте поле пустым, что бы не менять пароль
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><br><br><br>
                                <button class="submit"
                                        onclick="sendForm(this,'Cabinet','User','save');return false;"
                                        type="button">СОХРАНИТЬ
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
    </div>

    <div id="lk">
        {{ template.content|raw }}
    </div>
{% endblock %}