{# Авторизация #}
{% extends "Shop/Structure/Basket/Site/index.twig" %}

{% block tabContent %}
<div class="{{ tab1 }} multistep_step span12 user_not_logged_in" id="multistep_step1" data-step="1">
    <div class="box_style">
        <div class="formStart"></div>
        <div class="formPart">
            <input type="hidden" name="mode" value="ajax" />
            <input type="hidden" name="controller" value="Shop\Structure\Basket\Site\Tabs" />
            <input type="hidden" name="action" value="authorization" />
                <input type="hidden" name="currentTabId" value="{{ currentTabId }}"/>
                <input type="hidden" name="currentTabName" value="{{ name }}"/>
            </div>
        <div class="formPart">
            <table>
                <tr>
                        <td><label for="userinfo_lastname" class="">Фамилия
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                        <td><input type="text" value="" id="userinfo_lastname" name="userinfo_lastname"></td>
                </tr>
                <tr>
                        <td><label for="userinfo_name" class="">Имя
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                        <td><input type="text" value="" id="userinfo_name" name="userinfo_name"></td>
                </tr>
                <tr>
                        <td><label for="userinfo_phone" class="">Телефон
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                        <td><input type="text" value="" id="userinfo_phone" name="userinfo_phone"></td>
                </tr>
                <tr>
                        <td><label for="userinfo_email" class="">E-mail
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                        <td><input type="text" value="" id="userinfo_email" name="userinfo_email"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br></td>
                </tr>
            </table>
            </div>
        <script type="text/javascript">
                var basket = getCookie('basket');
                if (basket != null) {
                    basket = jQuery.parseJSON(basket);
                    if (basket.tabsInfo != null) {
                        if (basket.tabsInfo.tab_{{ currentTabId }} != null) {
                            var userInfo = basket.tabsInfo.tab_{{ currentTabId }};
                            if (userInfo.userinfo_lastname != null) {
                                jQuery('#userinfo_lastname').val(userInfo.userinfo_lastname.value);
                }
                            if (userInfo.userinfo_name != null) {
                                jQuery('#userinfo_name').val(userInfo.userinfo_name.value);
                }
                            if (userInfo.userinfo_phone != null) {
                                jQuery('#userinfo_phone').val(userInfo.userinfo_phone.value);
                }
                            if (userInfo.userinfo_email != null) {
                                jQuery('#userinfo_email').val(userInfo.userinfo_email.value);
                            }
                        }

                }
            }
            jQuery.ajax({
                type: 'GET',
                url: '/?mode=ajax&controller=Shop\\Structure\\Basket\\Site\\Tabs&action=authorization&target=start',
                dataType: 'text',
                async: false,
                success: function (data) {
                    $(".formStart").replaceWith(data + '</form>');
                    $("#authorizationForm").append($(".formPart"));
                    $("#authorizationForm .formPart").removeAttr('class');
                    $('.formPart').remove();
                }
            });
        </script>
        <script type="text/javascript"
                src="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=authorization&target=js"></script>
        <link media="all" rel="stylesheet" type="text/css" href="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=authorization&target=css"/>

        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block tabCss %}
{% endblock %}

{% block tabJs %}
{% endblock %}