{# Подверждение заказа #}
{% extends "Shop/Structure/Basket/Site/index.twig" %}

{% block tabContent %}
<div class="{{ tab4 }} multistep_step span12" id="multistep_step4" data-step="5">
    <div class="box_style">

        <h3 id="order_review_heading">Ваш заказ</h3>

        <div id="order_review">

            <table class="shop_table">
                <tr>
                    <th class="product-name">Товар</th>
                    <th class="product-quantity">Кол-во</th>
                    <th class="product-total">Сумма</th>
                </tr>

                {% for good in goods.goods %}
                    <tr class="checkout_table_item">
                        <td class="product-name">
                            {{ good.name }}
                            {% if good.offer_ID is defined %}
                                <dl class="variation">
                                    <dt class="variation-">{{ good.offer_name }}:</dt>
                                    <dd class="variation-"><p>{{ good.offer_value }}</p>
                                    </dd>
                                </dl>
                            {% endif %}
                        </td>
                        <td class="product-quantity">{{ good.count }}</td>
                        <td class="product-total">
                            <span class="amount">
                                {{ (good.total_price/100)|number_format(2, '.', ',') }}&nbsp;руб.
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="cart-subtotal">
                    <th colspan="2">Итог</th>
                    <td>
                        <span class="amount">
                            {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                        </span>
                    </td>
                </tr>


                <tr class="shipping">
                    <th>Погрузка и перевозка</th>
                    <td> Бесплатная доставка</td>
                </tr>
                <tr class="total">
                    <th colspan="2">Сумма</th>
                    <td>
                        <strong>
                            <span class="amount">
                                {{ (goods.total/100)|number_format(2, '.', ',') }}&nbsp;руб.
                            </span>
                        </strong>
                    </td>
                </tr>
            </table>

            {% block formInTab %}
            <h3>Дополнительная информация</h3>
                <div class="formStart"></div>
                <div class="formPart">
                    <input type="hidden" name="mode" value="ajax" />
                    <input type="hidden" name="controller" value="Shop\Structure\Basket\Site\Tabs" />
                    <input type="hidden" name="action" value="confirmation" />
                    <input type="hidden" name="currentTabId" value="{{ currentTabId }}" />
                </div>
                <div class="formPart">
                <label for="order_comments" class="">
                    Заметки к заказу
                </label>
                <textarea name="order_comments" class="input-text" id="order_comments"
                    placeholder="Примечания к вашему заказу, например, особые пожелания отделу доставки."
                    rows="2" cols="50"></textarea>
                </div>
                <script type="text/javascript">
                    var basket = getCookie('basket');
                    if (basket != null) {
                        basket = jQuery.parseJSON(basket);
                        if (basket.tabsInfo != null) {
                            if (basket.tabsInfo.tab_{{ currentTabId }} != null) {
                                var order_comments = basket.tabsInfo.tab_{{ currentTabId }};
                                if (order_comments.order_comments != null) {
                                    jQuery('#order_comments').val(order_comments.order_comments);
                                }
                            }
                        }
                    }
                    jQuery.ajax({
                        type: 'GET',
                        url: '/?mode=ajax&controller=Shop\\Structure\\Basket\\Site\\Tabs&action=confirmation&target=start',
                        dataType: 'text',
                        async: false,
                        success: function (data) {
                            $(".formStart").replaceWith(data + '</form>');
                            $("#confirmationForm").append($(".formPart"));
                            $("#confirmationForm .formPart").removeAttr('class');
                            $('.formPart').remove();
                        }
                    });
                </script>
                <script type="text/javascript"
                    src="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=confirmation&target=js"></script>
                <link media="all" rel="stylesheet" type="text/css" href="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=confirmation&target=css"/>
            {% endblock %}
            </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block tabCss %}
{% endblock %}

{% block tabJs %}
{% endblock %}