{# Доставка(адрес) и способ досставки #}

<div class="{{ tab2 }} multistep_step span12" id="multistep_step2" data-step="2">
    <div class="box_style">
        <h3>Адрес проживания</h3>

        <p class="form-row form-row-first validate-required" id="billing_first_name_field">
            <label for="billing_first_name" class="">Имя
                <abbr class="required" title="обязательно">*</abbr>
            </label>
            <input type="text" class="input-text" name="billing_first_name_required"
                   id="billing_first_name" placeholder=""
                   value="{{ billing_first_name_required }}"/>
        </p>

        <p class="form-row form-row-last validate-required" id="billing_last_name_field">
            <label for="billing_last_name" class="">Фамилия
                <abbr class="required" title="обязательно">*</abbr></label>
            <input type="text" class="input-text" name="billing_last_name_required"
                   id="billing_last_name" placeholder=""
                   value="{{ billing_last_name_required }}"/>
        </p>

        <div class="clear"></div>

        <p class="form-row form-row-first address-field validate-required"
           id="billing_address_1_field">
            <label for="billing_address_1" class="">Адрес
                <abbr class="required" title="обязательно">*</abbr></label>
            <input type="text" class="input-text" name="billing_address_required"
                   id="billing_address_1" placeholder="Адрес"
                   value="{{ billing_address_required }}"/>
        </p>

        <p class="form-row form-row-first validate-required" id="billing_email_field">
            <label for="billing_email" class="">Email-адрес
                <abbr class="required" title="обязательно">*</abbr></label>
            <input type="text" class="input-text " name="billing_email_required"
                   id="billing_email" placeholder="" value="{{ billing_email_required }}"/></p>

        <p class="form-row form-row-last" id="billing_phone_field">
            <label for="billing_phone" class="">Телефон</label>
            <input type="text" class="input-text " name="billing_phone" id="billing_phone"
                   placeholder="" value=""/></p>

        <div class="clear"></div>

        <input type="submit" class="button prev" name="login"
               value="&larr; Имя пользователя" data-next="1"/>

        <a href="?tab=3" class="nextstep">
            <input type="button" class="button next" name="login" value="Способ оплаты &rarr;"
                   data-next="3" data-alternativelabel="Способ оплаты &rarr;"/>
        </a>

        <div class="clear"></div>
    </div>
</div>