{# Доставка(адрес) и способ досставки #}
{% extends "Shop/Structure/Basket/Site/index.twig" %}

{% block tabContent %}

<div class="{{ tab2 }} multistep_step span12" id="multistep_step2" data-step="2">
    <div class="box_style">

        {% block formInTab %}
            <h3>Адрес доставки заказа</h3>
            <div class="formStart"></div>
            <div class="formPart">
                <input type="hidden" name="mode" value="ajax" />
                <input type="hidden" name="controller" value="Shop\Structure\Basket\Site\Tabs" />
                <input type="hidden" name="action" value="delivery" />
                <input type="hidden" name="currentTabId" value="{{ currentTabId }}" />
                <input type="hidden" name="currentTabName" value="{{ name }}"/>
            </div>
            <div class="formPart">
        <p class="form-row form-row-first validate-required" id="billing_first_name_field">
            <label for="billing_first_name" class="">Имя
                <abbr class="required" title="обязательно">*</abbr>
            </label>
            <input type="text" class="input-text" name="billing_first_name_required"
                   id="billing_first_name" placeholder=""
                           value=""/>
        </p>

        <p class="form-row form-row-last validate-required" id="billing_last_name_field">
            <label for="billing_last_name" class="">Фамилия
                <abbr class="required" title="обязательно">*</abbr></label>
            <input type="text" class="input-text" name="billing_last_name_required"
                   id="billing_last_name" placeholder=""
                           value=""/>
        </p>

        <div class="clear"></div>

        <p class="form-row form-row-first address-field validate-required"
           id="billing_address_1_field">
            <label for="billing_address_1" class="">Адрес
                <abbr class="required" title="обязательно">*</abbr></label>
            <input type="text" class="input-text" name="billing_address_required"
                   id="billing_address_1" placeholder="Адрес"
                           value=""/>
        </p>

        <p class="form-row form-row-first validate-required" id="billing_email_field">
            <label for="billing_email" class="">Email-адрес
                <abbr class="required" title="обязательно">*</abbr></label>
            <input type="text" class="input-text " name="billing_email_required"
                           id="billing_email" placeholder="" value=""/></p>

        <p class="form-row form-row-last" id="billing_phone_field">
            <label for="billing_phone" class="">Телефон</label>
            <input type="text" class="input-text " name="billing_phone" id="billing_phone"
                   placeholder="" value=""/></p>
                <p class="form-title">Доставка</p>
                <input type="radio" name="deliveryMethod" id="deliveryMethod1" value="1">
                <label for="deliveryMethod1">Курьерская доставка по Москве</label>
                <br>
                <input type="radio" name="deliveryMethod" id="deliveryMethod2" value="2">
                <label for="deliveryMethod2">Курьерская доставка по Московской области </label>
                <br>
                <input type="radio" name="deliveryMethod" id="deliveryMethod3" value="3">
                <label for="deliveryMethod3">Почта России</label>
                <br>
                <input type="radio" name="deliveryMethod" id="deliveryMethod4" value="4" checked='checked'>
                <label for="deliveryMethod4">EMS - Почта России</label>
            </div>
            <script type="text/javascript">
                var basket = getCookie('basket');
                if (basket != null) {
                    basket = jQuery.parseJSON(basket);
                    if (basket.tabsInfo != null) {
                        if (basket.tabsInfo.tab_{{ currentTabId }} != null) {
                            var delivery = basket.tabsInfo.tab_{{ currentTabId }};
                    if (delivery.first_name != null) {
                                jQuery('#billing_first_name').val(delivery.first_name);
                    }
                    if (delivery.last_name != null) {
                                jQuery('#billing_last_name').val(delivery.last_name);
                    }
                    if (delivery.address != null) {
                                jQuery('#billing_address_1').val(delivery.address);
                    }
                    if (delivery.email != null) {
                                jQuery('#billing_email').val(delivery.email);
                    }
                    if (delivery.phone != null) {
                                jQuery('#billing_phone').val(delivery.phone);
                    }
                    if (delivery.deliveryMethod != null) {
                                jQuery('#deliveryMethod' + delivery.deliveryMethod).prop('checked', true);
                            }
                        }
                    }
                }
                jQuery.ajax({
                    type: 'GET',
                    url: '/?mode=ajax&controller=Shop\\Structure\\Basket\\Site\\Tabs&action=delivery&target=start',
                    dataType: 'text',
                    async: false,
                    success: function (data) {
                        $(".formStart").replaceWith(data + '</form>');
                        $("#deliveryForm").append($(".formPart"));
                        $("#deliveryForm .formPart").removeAttr('class');
                        $('.formPart').remove();
                    }
                });
            </script>
            <script type="text/javascript"
                    src="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=delivery&target=js"></script>
            <link media="all" rel="stylesheet" type="text/css" href="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=delivery&target=css"/>
        {% endblock %}





        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block tabCss %}
{% endblock %}

{% block tabJs %}
{% endblock %}