{% extends "site.twig" %}

{% block content %}
    <img src="/images/1.gif" alt="" style="height: 50px; width: 400px; float:right">

    <style>
        .art .clear {
            clear: both;
            border-bottom: solid 2px #deedfd;
        }

        .pagination ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .pagination li {
            float: left;
        }
        .pagination a {
            display: block;
            padding: 5px 15px;
            text-decoration: none;
        }

        .pagination a:hover {
            color: #ffffff;
            background: #43a8d2;
        }

        .pagination .active a {
            color: #ffffff;
            background: #43a8d2;
        }

        .art .articles {
            padding: 0 15px;
        }

        .art .articles a {
            color: #498d01;
            text-decoration: none
        }

        .art .articles .name {
            margin: 25px 0 10px 0;
        }

        .art .articles .annot {
            margin-bottom: 25px;
        }
    </style>

    <h1>{{ header }}</h1>

    <div class="art">
        <div class="pagination">
            <ul>
            {% for part in parts %}
                <li class="{{ part.class }}"><a href="{{ part.url }}">{{ part.cap }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
        <div class="articles">
            {% if goods|length > 0 %}
                {% for good in goods %}
                    <div class="name">
                        <a href="/info/{{ good.url }}">{{ good.name }}</a>
                    </div>
                    <div class="annot">{{ good.annot }}</div>
                {% endfor %}
            {% endif %}

        </div>
        {%if pages|length > 0 %}
            <div class="pagination pagination-left">
                <ul>
                    {% for page in pages %}
                        {% if page.current == 1 %}
                            <li class="active"><a>{{ page.num }}</a></li>
                        {% else %}
                            <li><a href="{{ page.url }}">{{ page.num }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ template.content|raw }}

    </div>

{% endblock %}