{% extends "site.twig" %}

{% block content %}
    <img src="/images/1.gif" alt="" style="height: 50px; width: 400px; float:right">

    <h1>{{ header }}</h1>

    <div class="art">
        <div class="pagination">
            <ul>
            {% for part in parts %}
                <li class="{{ part.class }}"><a href="{{ part.url }}">{{ part.cap }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
        <div class="articles">
            {% if goods|length > 0 %}
                {% for good in goods %}
                    <div class="name">
                        <a href="/info/{{ good.url }}">{{ good.name }}</a>
                    </div>
                    <div class="annot">{{ good.annot }}</div>
                {% endfor %}
            {% endif %}

        </div>
        {%if pages|length > 0 %}
            <div class="pagination pagination-left">
                <ul>
                    {% for page in pages %}
                        {% if page.current == 1 %}
                            <li class="active"><a>{{ page.num }}</a></li>
                        {% else %}
                            <li><a href="{{ page.url }}">{{ page.num }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ template.content|raw }}

    </div>

{% endblock %}