{% extends "site.twig" %}

{% block content %}
    <img src="/images/1.gif" alt="" style="height: 50px; width: 400px; float:right">

    <h1>{{ header }}</h1>

    {{ template.content|raw }}

    {% if parts|length > 0 %}
        <ul>
            {% for part in parts %}
                <li><a href="/goods/{{ part.url }}">{{ part.cap }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if goods|length > 0 %}
        {% for good in goods %}
            <div class="goodsProf">
                <div class="head">
                    <a href="/goods/{{ good.url }}">
                        <h3 class="GoodsTitle">
                            {{ good.name }} {{ good.full_name }}
                        </h3>
                    </a>
                </div>
                <div class="left">
                    <a href="/goods/{{ good.url }}">
                        <img style="width: auto" alt="" src="{{ good.img }}"/>
                    </a>
                </div>
                <div class="right">
                    <form id="basket">
                        <input type="hidden" name="ID" value="{{ good.ID }}">
                        {% if good.alt_price > 0 %}
                            <input type="hidden" name="price" value="{{ good.alt_price }}">
                        {% else %}
                            <input type="hidden" name="price" value="{{ good.price }}">
                        {% endif %}
                    </form>
                    {% if good.alt_price > 0 %}
                        <span style="font-size: 24px; color: red; text-decoration: line-through;">{{ good.price }}
                            руб </span><br/>
                        <span style="font-size: 24px;">{{ good.alt_price }}</span> руб
                    {% else %}
                        <span style="font-size: 24px;">{{ good.price }}</span> руб
                    {% endif %}
                    <br/>
                    <button class="shk-but" type="submit" style="margin: 10px 0">
                        В корзину
                    </button>
                    <br>
                    {% if Basket[good.ID] %}
                    <span id="countBasket" style="font-size: 12px;">
                    {% else %}
                        <span class="hide" id="countBasket" style="font-size: 12px;">
                    {% endif %}
                            Количество <a href="/basket">в корзине</a>:
                        <span id="count" style="font-size: 12px;">
                            {{ Basket[good.ID]['amount'] ? Basket[good.ID]['amount'] : 0 }}
                         </span>
                    </span>
                </div>
                <div class="footer">
                    <a class="introtext" href="/goods/{{ good.url }}">
                        {{ good.annot }}
                    </a>
                </div>

            </div>
        {% endfor %}
    {% endif %}

{% endblock %}