{% extends "site.twig" %}

{% block content %}
    <h1>{{ header }}</h1>

    {% if showMainSubMenu %}
        {% for item in categoryShop %}
            {% if item.activeUrl %}
                {% for subMenu in item.subMenu %}
                    <div style="width: 150px; text-align: center; float: left; margin: 0 15px 10px 0">
                        <div style="height: 100px">
                            {% if subMenu.img %}<img src="{{ subMenu.img }}"
                                                     style="border: 1px solid #000000;">{% endif %}
                        </div>
                        <a href="{{ subMenu.link }}">{{ subMenu.name }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {{ template.content|raw }}

    {% if goods|length > 0 %}
        {% for good in goods %}
            <div class="catalog_item">
                <div class="catalog_item_inside">
                    <div class="img">
                        <a href="{{ good.link }}" title="{{ good.name }}">
                            <img src="/images/1c/big/{{ good.img }}">
                        </a>
                    </div>
                    <div style="height: 50px">
                        <a href="{{ good.link }}">{{ good.name }}</a>
                    </div>
                    <div class="brand">{{ good.brand }}</div>
                    <div class="price">
                        {{ good.price }} руб
                    </div>
                </div>
            </div>
        {% endfor %}
        <div style="clear: both"></div>
        {% if pages|length > 0 %}
            <div class="pages_nums">
                <ul>
                    {% for page in pages %}
                        {% if page.current == 1 %}
                            <li class="active"><a>{{ page.num }}</a></li>
                        {% else %}
                            <li><a href="{{ page.url }}">{{ page.num }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div style="clear: both"></div>


    {% endif %}

{% endblock %}