{% extends "site.twig" %}

{% block content %}
    <h1>{{ header }}</h1>

    {{ template.content|raw }}

    {% if parts|length > 0 %}
        <ul>
            {% for part in parts %}
                <li><a href="{{ part.url }}.html">{{ part.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if goods|length > 0 %}
        {% for good in goods %}
            <div class="catalog_item">
                <div class="catalog_item_inside">
                    <div class="img">
                        <a href="{{ good.url }}" title="{{ good.name }}">
                            <img src="{{ good.img }}">
                        </a>
                    </div>
                    <div class="name">
                        <a href="{{ good.url }}">{{ good.name }}</a>
                    </div>
                    <div class="brand"></div>
                    <div class="txt"></div>
                    <div class="price">
                        {{ good.price }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}