{% extends "site.twig" %}

{% block content %}

    <h1>{{ header }}</h1>

    {{ template.content|raw }}

    {%if parts|length > 0 %}
    <ul>
    {% for part in parts %}
        <li><a href="{{ part.url }}">{{ part.cap }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    {%if goods|length > 0 %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>Наименование</th>
                <th>full_name</th>
                <th>weight</th>
                <th>stock</th>
                <th>price</th>
            </tr>
            {% for good in goods %}
            <tr>
                <td>{{ good.name }}</a></td>
                <td>{{ good.full_name }}</a></td>
                <td>{{ good.weight }}</a></td>
                <td>{{ good.stock }}</a></td>
                <td>{{ good.price }}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}