{% extends "site.twig" %}

{% block content %}

    <h1>{{ header }}</h1>

    {{ template.content|raw }}

    {% if parts|length > 0 %}
        <ul>
            {% for part in parts %}
                <li><a href="/goods/{{ part.url }}">{{ part.cap }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if goods|length > 0 %}
        {% for good in goods %}
            <div class="goodsProf">
                <div class="head">
                    <a href="/goods/{{ good.url }}">
                        <h3 class="GoodsTitle">
                            {{ good.name }} {{ good.full_name }}
                        </h3>
                    </a>
                </div>
                <div class="body">
                    <div class="left">
                        <a href="/goods/{{ good.url }}">
                            <img class="shk-image" alt="" src="{{ good.img }}"/>
                        </a>
                    </div>
                    <div class="right">
                        <span>{{ good.price }}</span> руб<br/><br/>
                        <button class="shk-but" type="submit">
                            В корзину
                        </button>
                    </div>
                </div>
                <div class="footer">
                    <a class="introtext" href="/goods/{{ good.url }}">
                        {{ good.annot }}
                    </a>
                </div>

            </div>
        {% endfor %}
    {% endif %}

{% endblock %}