{% extends "site.twig" %}

{% block content %}
    <h1>{{ header|raw }}</h1>
    <div id="user" class="former">
    <span class="error"></span>

    {# Если нет информации о пользователе, значит отдаём форму входа #}
    {% if user is not defined %}
        <div id="login">
            {{ loginForm | raw }}
            213123123
        </div>
    {% else %}
        <p class="logout"><a href="{{ link }}?action=logout">Выйти</a></p>

        <div id="formzakaz">
            {{ lkForm | raw }}
        </div>
    {% endif %}

    {# Выводим контент первого аддона #}
    {{ addons.0.content|raw }}
{% endblock %}